.logo {
    height: 85px;
    margin-bottom: 15px;
}

.login, .register {
    height: inherit;
}

.login-components, .register-components {
    background-color: white;
    width: 400px;
}

.login-components {
    height: 490px;
}

.register-components {
    height: 685px;
}